<main id="tt-pageContent">
    <div class="container">
        <div class="tt-single-topic-list">
            <div class="tt-item">
                 <div class="tt-single-topic">
                    <div class="tt-item-header">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon">
                                    <img src="{{global.topic.author.avatar}}" alt="">
                                </i>
                            </div>
                            <div class="tt-avatar-title">
                               <a >{{global.topic.author}}</a>
                            </div>
                            <a  class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>{{global.topic.created_at}}
                            </a>
                        </div>
                        <h3 class="tt-item-title">
                            <a >{{global.topic.title}}</a>
                            
                        </h3>
                        <div class="tt-item-tag">
                            <ul class="tt-list-badge">
                                <li><a ><span class="tt-color03 tt-badge">{{global.topic.corriente.name}}</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        
                        <div [innerHTML]="sanitizedContent"></div>

                       
                    </div>
                    <div class="tt-item-info info-bottom">
                        <a class="tt-icon-btn" (click)="react('like', global.topic.id)" [class.disabled]="!userId">
                            <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                            <span class="tt-text">{{ reactions.like }}</span>
                          </a>
                        <a class="tt-icon-btn" (click)="react('dislike', global.topic.id)" [class.disabled]="!userId">
                          <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                          <span class="tt-text">{{ reactions.dislike }}</span>
                        </a>
                        <a class="tt-icon-btn" (click)="react('favorite', global.topic.id)" [class.disabled]="!userId">
                          <i class="tt-icon"><svg><use xlink:href="#icon-favorite"></use></svg></i>
                          <span class="tt-text">{{ reactions.favorite }}</span>
                        </a>
                      </div>
                </div>
            </div>
            <div class="tt-comments">
                <h5>Comentarios</h5>
                <div *ngFor="let comment of comments" class="tt-comment">
                  <div class="tt-item-description">
                    {{ comment.expand?.author?.name || 'Usuario' }}:
                    <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(comment.content)"></div>
                </div>
                </div>
              </div>
        </div>
        <form [formGroup]="commentForm" (ngSubmit)="submitComment()" class="form-default mt-3">
            <textarea formControlName="content" class="form-control" rows="4" placeholder="Escribe un comentario..."></textarea>
            <button class="btn btn-secondary mt-2" type="submit" [disabled]="commentForm.invalid || !userId">Comentar</button>          </form>
    </div>
</main>