<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-topic-list">
            <div class="tt-list-header">
                <div class="tt-col-topic">Temas</div>
                <div class="tt-col-category">Categorías</div>
                <div class="tt-col-value hide-mobile">Me gusta</div>
                <div class="tt-col-value hide-mobile">Respuestas</div>
                <div class="tt-col-value hide-mobile">Vistas</div>
                <div class="tt-col-value">Actividad</div>
            </div>
            <div class="tt-topic-alert tt-alert-default" role="alert">
              <a>4 nuevos temas</a> fueron agregados recientemente, haz clic aquí para cargarlos.
            </div>
           <!--  <div class="tt-item tt-itemselect">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-ava-k"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        <svg class="tt-icon">
                          <use xlink:href="#icon-pinned"></use>
                        </svg>
                        Halloween Costume Contest 2018
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="index.html#"><span class="tt-color01 tt-badge">politics</span></a></li>
                                <li><a href="index.html#"><span class="tt-badge">contests</span></a></li>
                                <li><a href="index.html#"><span class="tt-badge">authors</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">1h</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color01 tt-badge">politics</span></div>
                <div class="tt-col-value hide-mobile">985</div>
                <div class="tt-col-value tt-color-select hide-mobile">502</div>
                <div class="tt-col-value hide-mobile">15.1k</div>
                <div class="tt-col-value hide-mobile">1h</div>
            </div> -->
            
           
            <div class="tt-item" *ngFor="let topic of topics">
                <div class="tt-col-avatar">
                   <svg class="tt-icon">
                      <use xlink:href="#icon-ava-h"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a (click)="global.preTopic(topic)">
                        <svg class="tt-icon">
                          <use xlink:href="#icon-ava-h"></use>
                        </svg>
                        {{topic.title}}
                    </a></h6>
                    <div class="row align-items-center no-gutters  hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="index.html#"><span class="tt-color06 tt-badge">{{topic.corriente}}</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color06 tt-badge"><span>{{ topic.corriente.name }}</span>
                </span></div>
                <div class="tt-col-value hide-mobile">671</div>
                <div class="tt-col-value tt-color-select  hide-mobile">29</div>
                <div class="tt-col-value hide-mobile">1.3k</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
           
            <div class="tt-row-btn">
                <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>